<div class="modal">
<h2>{{title}}</h2>
<img src="{{urlToImage}}" alt="img">
<h4>{{content}}. (api di prova , purtroppo non ci sono gli articoli completi. beccati un lorem.) <br> <br> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora quaerat iure quo enim nam impedit eaque explicabo expedita repellat odit saepe temporibus sequi voluptatibus, similique voluptas ea veritatis aliquam assumenda? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis eos blanditiis at magni veniam sequi esse, harum quaerat illum cumque minus nostrum ducimus porro nihil. Culpa praesentium amet voluptatibus voluptate. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio consequuntur a ut, enim quidem nisi repudiandae corrupti excepturi praesentium nesciunt dolorem esse dicta, libero quaerat? Quod animi officiis soluta alias.</h4>
<p>Scritto da: {{author}}</p>
</div>